* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.card {
    width: 400px;
    margin: 50px auto;
    background: #E3E3E3;
    box-shadow: 1px 1px 10px black;
    padding: 20px;
}

.card__header {
    text-align: center;
}

.card__description {
    margin: 20px 0;
}

.card__button {
    padding: 6px 12px;
    background: white;
    border-radius: 5px;
    width: 40%;
    display: block;
    margin: 20px auto;
    box-shadow: 1px 1px 2px black;
}
