* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.card {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 1px 1px 10px black;
    background: lightgrey;
}

.card::after {
    content: "";
    display: block;
    clear: both;
}

.card__column-left {
    width: 50%;
    float: left;
    height: 200px;
    background: #E3E3E3;
}

.card__column-right {
    width: 50%;
    float: left;
    height: 200px;
    background: #FEFEFE;
}
